@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin fonts($weight, $size) {
  font-family: "Open Sans", sans-serif;
  font-weight: $weight;
  font-size: $size;
}

@mixin topContainer {
  @include fonts(400, 16px);
  max-width: 1300px;
  margin: auto;
  position: relative;
}

@mixin clearfix {
  content: "";
  display: table;
  clear: both;
}

@mixin graphColumn($height, $color, $index) {
  [data-index="#{$index}"] {
    height: $height;
    background-color: $color;
  }
}

@mixin triangle($size, $borderDirection, $color) {
  border: $size solid transparent;
  border-#{$borderDirection}: $size solid $color;
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin transition($transitions) {
  -moz-transition: $transitions;
  -o-transition: $transitions;
  -webkit-transition: $transitions;
  transition: $transitions;
}
