* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $orange;

  &:hover {
    text-decoration: underline;
  }
}

.tooltip {
  position: relative;
  border-bottom: 2px dashed $orange;

  &:hover::before {
    content: "espresso!";
    background-color: $darkGray;
    padding: 4px 20px;
    position: absolute;
    bottom: 100%;
    color: $white;
    border-radius: 3px;
  }

  &:hover::after {
    content: "";
    @include size(0,0);
    position: absolute;
    bottom: 10px;
    right: 50px;
    border-top: 8px solid $darkGray;
    border-bottom: 8px solid transparent;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
  }
}
