* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $orange;
  &:hover {
    text-decoration: underline;
  }
}

.tooltip {
  position: relative;
  border-bottom: 2px dashed $orange;
  &:hover::before {
    content: "espresso!";
    background-color: $darkGray;
    padding: 4px 20px;
    position: absolute;
    bottom: 100%;
    color: $white;
    border-radius: 3px;
  }
  &:hover::after {
    content: "";
    @include size(0,0);
    @include triangle(8px, "top", $darkGray);
    position: absolute;
    bottom: 10px;
    right: 50px;
  }
}// end tooltip
