//colors
$orange: #e84d0f;
$lightGray: #f2f2f2;
$gray: #666;
$darkGray: #464646;
$white: #fff;

//graph colors
$graph1: #ffc59b;
$graph2: #f88c6c;
$graph3: #e64e21;

//media queries
$maxW-1150: "screen and (max-width: 1150px)";
$maxW-660: "screen and (max-width: 660px)";
