//////////////////////////FONTS
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

//////////////////////////VARIABLES
@import "definition/variables";

//////////////////////////FUNCTIONS
@import "definition/functions";


//////////////////////////NORMALIZE
@import "definition/normalize";
@import "definition/utilities";

////////////////////////// NAVIGATION
@import "components/navigation";

//////////////////////////HEADER

header {
@include topContainer;
width: 100%;
height: 454px;
max-height: 454px;
background: url("../img/rotator/carousel-bg.jpg") no-repeat center;
background-size: cover;
margin-top: 30px;
overflow: visible;

  &:hover {
    background: url("../img/rotator/carousel-hover.jpg") no-repeat center;
  }

  .arrows {
    @include size(30px, 54px);
    background: url("../img/rotator/arrows.png") no-repeat;
    background-size: cover;
    cursor: pointer;
    top: 43.8%;
    z-index: 999;
  }

  #arrow-left {
    position: absolute;
    left: 37px;

    &:hover {
      background-position: -30px 0;
    }
  }

  #arrow-right {
    background-position: -90px 0;
    position: absolute;
    right: 37px;

    &:hover {
      background-position: -60px 0;
    }
  }

  #carousel {
    width: 100%;
    overflow: hidden;

    #carousel-wrapper {
      width: 3900px;
      margin-left: -1300px;


      .carousel-content {
        width: 1300px;
        position: relative;
        height: 290px;
        float: left;
        margin-top: 95px;

        .carousel-text {
          @include fonts(300, 18px);
          max-width: 630px;
          margin-left: 190px;

          h2 {
            @include fonts(400, 45px);
            text-shadow: 2px 2px 2px #666;
          }

          .carousel-para1 {
            margin-top: 40px;
          }

          .carousel-para2 {
            margin-top: 30px;
          }
        }

        .carousel-button {
          position: absolute;
          right: 160px;
          bottom: 0;
          padding: 14px 69px;
          border: 1px solid $orange;
          border-radius: 46px;
          background-color: #fff;
          color: $orange;

          &:hover {
            background-color: $orange;
            color: #fff;
          }
        }
      } //end content
    }//end wrapper
  }//end carousel
} //End heder

header ~ p {
  padding: 30px 0;
  text-align: center;
  @include fonts(600, 14px);

  span {
    margin-right: 5px;
    @include fonts(300, 12px);
    color: #666;
  }

  a {
    margin-left: 20px;
  }
}

  ////////////////////////// CONTENT

section {
  @include fonts(400, 17px);
  background-color: #f2f2f2;
  margin-bottom: 35px;
  padding-bottom: 35px;
//.
  #graphs-full {
    display: none;
  }
//.
  #tooltip1 {
    position: relative;
    border-bottom: 2px dashed $orange;

    &:hover::before {
      content: "espresso!";
      background-color: #464646;
      padding: 4px 20px;
      position: absolute;
      bottom: 100%;
      color: white;
      border-radius: 3px;
    }

    &:hover::after {
      content: "";
      position: absolute;
      bottom: 10px;
      right: 45px;
      width:0;
      height: 0;
      border-top: 8px solid #464646;
      border-bottom: 8px solid transparent;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
    }
  }

  #container-article1 {
    width: 94%;
    max-width: 990px;
    margin: auto;

    &:after {
      @include clearfix;
    }

    h1 {
      padding: 30px 0;
      font-size: 38px;
      font-weight: 300;
      display: block;
    }

    img {
      float: left;
      margin-right: 10px;
      margin-bottom: 10px;
    }
//.containerArticle1__article
    #float-p {
      float: left;

      &:after {
        @include clearfix;
      }
    }

    p {
      padding-bottom: 30px;
    }
  } //end container article

  .graph {
    width: 540px;
    margin: auto;

    h2 {
      font-size: 18px;
      padding: 60px 0 40px 40px;
    }

    img[alt="logo"] {
      float: left;
      padding: 19px 10px 0 0;
    }

    .columns {
      @include size(495px, 76px);
      font-size: 0;
      float: left;

      .column-round {
        width: 17px;
        margin-bottom: -76px;
        display: inline-block;
        border-top-left-radius: 17px;
        border-top-right-radius: 17px;
        cursor: pointer;
      }

      .column {
        @extend .column-round;
        border-radius: 0px;

        &:hover {
          background-color: #666;
          transition: background-color 0.25s linear;
        }
      }

      @include graphColumn(25px, $graph1, 1);
      @include graphColumn(41px, $graph2, 2);
      @include graphColumn(41px, $graph2, 3);
      @include graphColumn(36px, $graph2, 4);
      @include graphColumn(12px, $graph1, 5);
      @include graphColumn(22px, $graph1, 6);
      @include graphColumn(36px, $graph2, 7);
      @include graphColumn(66px, $graph3, 8);
      @include graphColumn(61px, $graph3, 9);
      @include graphColumn(51px, $graph3, 10);
      @include graphColumn(39px, $graph2, 11);
      @include graphColumn(37px, $graph2, 12);
      @include graphColumn(34px, $graph2, 13);
      @include graphColumn(20px, $graph1, 14);
      @include graphColumn(26px, $graph1, 15);
      @include graphColumn(39px, $graph1, 16);
      @include graphColumn(34px, $graph2, 17);
      @include graphColumn(58px, $graph3, 18);
      @include graphColumn(45px, $graph3, 19);
      @include graphColumn(54px, $graph3, 20);
      @include graphColumn(54px, $graph3, 21);
      @include graphColumn(39px, $graph2, 22);
      @include graphColumn(39px, $graph2, 23);
      @include graphColumn(32px, $graph1, 24);
      @include graphColumn(48px, $graph3, 25);
      @include graphColumn(38px, $graph1, 26);
      @include graphColumn(32px, $graph1, 27);
      @include graphColumn(25px, $graph1, 28);
      @include graphColumn(17px, $graph1, 29);

    } //end columns

    .legend {
      text-align: center;

      p {
        display: inline-block;
        font-size: 13px;
      }

      .low::before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        margin: 0 5px 0 25px;
        border-radius: 100%;
        background-color: $graph1;
      }

      .medium::before {
        @extend .low::before;
        background-color: $graph2;
      }

      .high::before{
        @extend .low::before;
        background-color: $graph3;
      }
    }
  } // end graph

  #container-article2 {
    width: 94%;
    max-width: 960px;
    display: block;
    margin: auto;

    &::after {
      @include clearfix;
    }

    h2 {
      margin-top: 40px;
      font-size: 38px;
      font-weight: 400;
    }

    .article2 {
      max-width: 480px;
      padding-right: 60px;
      float: left;

      p {
        margin-top: 30px;
      }
    }

    .article3 {
      @extend .article2;
      padding-right: 0;
      padding-left: 60px;
    }
  }// end container-article2
} //end section

footer {
  text-align: center;
  @include fonts(600, 15px);

  p {
    margin-top: 17px;
    margin-bottom: 35px;

    &:nth-child(3) {
      font-weight: 300;
      font-size: 17px;
    }
  }

  a {
    margin-top: 35px;
  }
}

@import "responsive";
