//////////////////////////FONTS
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

//////////////////////////VARIABLES
@import "definition/variables";

//////////////////////////FUNCTIONS
@import "definition/functions";


//////////////////////////NORMALIZE
@import "definition/normalize";
@import "definition/utilities";

////////////////////////// NAVIGATION
@import "components/navigation";

//////////////////////////CAROUSEL
@import "components/carousel";

////////////////////////// CONTENT
@import "components/sections";
@import "components/graphs";

////////////////////////// FOOTER
.footer {
  @include fonts(600, 15px);
  text-align: center;

  &__group {
    @include fonts(300, 17px);
  }

  p {
    margin-top: 12px;
    margin-bottom: 35px;
  }

  a {
    margin-top: 35px;
  }
}
