mixin createGraph(columnType)
  .graph
    h2 Pondělí
    img.graph__logo(src="img/graphs/graph-logo.svg" alt="logo")
    .graph__columns
      - i = 0
      while i <= 29
        div(class=columnType, data-index="#{i}")
        - i++
    
    .graph__legend
      p.graph__legend__low bez fronty
      p.graph__legend__medium možnost fronty
      p.graph__legend__high pravděpodobné čekání ve frontě

img.graphsFull(src="img/graphs/graphs-full.jpg" alt="graphs image")

+createGraph(".graph__columns__column--round")
+createGraph(".graph__columns__column--square")
