p.newsParagraph
  span.newsDate PŘED 12 DNY
  |  Jiří Štěpán z Etnetera Activate poodhalil zákulisí vykutálené náborové kampaně. 
  a(href="#") Přečíst

section
  div.containerArticle1
    h1.containerArticle1__heading Fronty u kávovaru
    img.containerArticle1__image.u-fll(src="img/cup.jpg" alt="picture of cup")
    div.containerArticle1__article.u-fll
      p.
        Arabica latte shop macchiato doppio coffee steamed. Brewed, macchiato grounds medium, eu breve grinder frappuccino americano.
        Pumpkin spice, caffeine chicory dark medium arabica macchiato instant rich. Et, single shot aged half and half lungo whipped,
        cinnamon cappuccino whipped id mazagran.
      p
        span.u-bold Con panna 
        |  sugar macchiato so macchiato in skinny variety mug that. A plunger pot acerbic, brewed medium java aromatic coffee.
        | At mocha wings acerbic beans medium saucer.
        | Cup extra sit half and half robust java crema turkish.
    p
      | Medium aroma cream qui medium coffee arabica, caffeine et 
      a(href="#") caramelization cup 
      |  plunger pot. Eu, plunger pot organic dark, cinnamon,
      | redeye wings fair trade whipped lungo crema. Carajillo caramelization americano, plunger pot, filter coffee foam siphon roast and java.
    p
      | Galão a, breve, at white, latte variety irish at flavour barista.
      | Half and half, so, sweet, 
      span.tooltip affogato galão, 
      |  half and half sugar irish trifecta chicory.
      | Single origin, espresso, con panna french press et steamed robust.
