
header {
@include topContainer;
width: 100%;
height: 454px;
max-height: 454px;
background: url("../img/rotator/carousel-bg.jpg") no-repeat center;
background-size: cover;
margin-top: 30px;
overflow: visible;

  &:hover {
    background: url("../img/rotator/carousel-hover.jpg") no-repeat center;
  }

  .arrow {
    @include size(30px, 54px);
    background: url("../img/rotator/arrows.png") no-repeat;
    background-size: cover;
    cursor: pointer;
    top: 43.8%;
    z-index: 999;

    &--left {
      position: absolute;
      left: 37px;

      &:hover {
        background-position: -30px 0;
      }
    }

    &--right {
      background-position: -90px 0;
      position: absolute;
      right: 37px;

      &:hover {
        background-position: -60px 0;
      }
    }

  }

  .carousel {
    width: 100%;
    overflow: hidden;

    &__wrapper {
      width: 3900px;
      margin-left: -1300px;

      &__content {
        width: 1300px;
        position: relative;
        height: 290px;
        float: left;
        margin-top: 95px;

        &__text {
          @include fonts(300, 18px);
          max-width: 630px;
          margin-left: 190px;

          &__heading {
            @include fonts(400, 45px);
            text-shadow: 2px 2px 2px #666;
          }

          &__paragraph1 {
            margin-top: 40px;
          }

          &__paragraph2 {
            margin-top: 30px;
          }
        }

        &__button {
          position: absolute;
          right: 160px;
          bottom: 0;
          padding: 14px 69px;
          border: 1px solid $orange;
          border-radius: 46px;
          background-color: #fff;
          color: $orange;

          &:hover {
            background-color: $orange;
            color: #fff;
          }
        }
      } //end content
    }//end wrapper
  }//end carousel
} //end header

.newsParagraph {
  padding: 30px 0;
  text-align: center;
  @include fonts(600, 14px);

  &__date {
    margin-right: 5px;
    @include fonts(300, 12px);
    color: #666;
  }

  &__anchor {
    margin-left: 20px;
  }
}
