article.containerArticle2
  h2.containerArticle2__heading Více o kávě
  div.containerArticle2__article.containerArticle2__article--left.u-fll
    p
      | Shop robust café au lait, cortado that, kopi-luwak skinny sweet crema fair 
      span.u-bold  trade aged
      |  cultivar medium decaffeinated medium siphon crema cappuccino macchiato froth roast cinnamon aroma crema.
      | Con panna americano skinny blue mountain decaffeinated, trifecta barista sugar, in saucer in filter that.
      | Roast sit, robusta aged spoon, filter beans blue mountain milk crema dark eu 
      a(href="#")  affogato barista
      |  caffeine grinder, aromatic instant cup as robusta steamed doppio. Aftertaste, kopi-luwak, cappuccino siphon beans galão decaffeinated mug,
      | froth half and 
      span.u-bold  half eu java roast, 
      |  lungo, id fair trade organic doppio filter instant carajillo.
    p
      | Id siphon and, java, cappuccino milk cortado, siphon macchiato galão a irish flavour.
      | Carajillo irish percolator steamed, medium galão latte, mocha est, medium, iced cappuccino americano, caramelization ristretto,
      | in latte, flavour cup roast trifecta aged. Variety single origin steamed, at, galão bar turkish con panna cream aroma variety carajillo
  div.containerArticle2__article.containerArticle2__article--right.u-fll
    p 
      | cinnamon. Iced, single shot, est cup shop viennese dark crema macchiato wings single shot plunger pot foam aftertaste so to go
      | white at acerbic a aftertaste.
    p 
      | Irish carajillo decaffeinated instant, pumpkin spice as, cup, dripper strong breve, est white crema viennese latte.
      | Irish cup medium body organic, white americano galão plunger pot coffee, robust, carajillo, steamed, cream, java,
      | cinnamon mazagran so caffeine latte flavour. Shop, turkish iced qui that steamed sweet, mazagran, macchiato est robusta spoon as,
      | rich eu crema, chicory foam single shot organic sugar galão seasonal trifecta. Viennese half and half organic aged 
      a(href="#")  extraction cup,
      |  espresso irish latte mug grinder turkish variety.      
